<!-- This is the comments partial -->
<section class="post-box">
  <h3>Comments</h3>
  <!-- Display all comments from a specific user which is associated to the post. -->
    <article>
      <input type="hidden" id="post_id" value="{{post.id}}">
      <p>{{comment_text}}</p>
      <p>Created by: {{User.username}}</p>
      <p>Created on: {{format_date}}</p>
    </article>
</section>