<!-- This is the main layout file that will be used for all pages -->
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Dev Portal</title>
    <link rel='stylesheet' href='/css/jass.css' />
  </head>
  <body>
    <header>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/dashboard'>Dashboard</a></li>
        {{#if loggedIn}}
          <li><a href='/logout' id='logout'>Logout</a></li>
        {{else}}
          <li><a href='/login' id='login-form'>Login</a></li>
        {{/if}}
      </ul>
    </header>

    <main>
      {{{body}}}
    </main>
    <footer>
      <p>&copy; 2024 Dev Portal</p>
    </footer>
  </body>
</html>