<!-- Main layout for the application. -->

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Dev Portal</title>
    <link rel='stylesheet' href='/css/jass.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <header>
      <h1>Blog Post</h1>
      <ul>
      <!-- If the user is logged in, display the Dashboard and Logout links otherwise redirect to the login page. -->
      <li><a
        href='/'
        class='hover-blue'
        >Home</a></li>
      {{#if loggedIn}}
        <li><a
          href='/dashboard'
          class='hover-blue'
        >Dashboard</a></li>
      {{else}}
        <li><a
          href='/login'
          class='hover-blue'
        >Dashboard</a></li>
      {{/if}}
      {{#if loggedIn}}
        <li><a
          href='/logout'
          id='logout'
          class='hover-blue'
        >Logout</a></li>
      {{else}}
        <li><a
          href='/login'
          id='login-form'
          class='hover-blue'
        >Login</a></li>
      {{/if}}
      </ul>
    </header>
    <!-- The body of the page will be rendered here. -->
    <main>
      {{{body}}}
    </main>
    <footer>
      <p>&copy; 2024 Dev Portal</p>
    </footer>
  </body>
  <!-- If the user is logged in, display the logout script. -->
  {{#if loggedIn}}
    <script src='/js/logout.js'></script>
  {{/if}}
</html>