<!-- This is the form for editing a post. It has fields for the title and post content, and includes a hidden input for the post ID. -->
<!-- The form also includes a button to submit the changes, a link to delete the post, and a link to cancel the edit. -->
{{#if loggedIn}}
  <section>
    <div class='container'>
      <div class='row'>
        <div class='col-md-12'>
          <h2>Posts</h2>
          <ul>
            {{#each postArray}}
              <li>
                <h3>{{title}}</h3>
                <p>{{post_content}}</p>
                <a href='/editPost/{{id}}'>Edit Post</a>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </section>
{{/if}}

<script src='/js/editPost.js'></script>