<section>
  <h1>Homepage</h1>
  <!-- Display all posts for each post in the postArray -->
  {{#each postArray}}
    <div>
      <h2>{{title}}</h2>
      <p>{{post_content}}</p>
      <!-- This is the add comment route -->
      <a href='/addComment/{{id}}'>Add Comment</a>
    </div>
  {{/each}}
</section>