<section>
  <h1>Homepage</h1>
  {{#each postArray as |post|}}
    <div>
      <h3><a href="/post/{{post.id}}">Title: {{post.title}}</a></h3>
      <p>Posted on: {{format_date}}</p>
      <!-- Display comments for the post -->
        {{#each comments}}
          <p>{{comment}}</p>
        {{/each}}
      </div>
    </div>
  {{/each}}
</section>
