<!-- This is the login page. It contains a form that allows users to log in, and displays a welcome message if the user is already logged in. -->
{{#if username}}
  <div>
    <h1>Welcome, {{username}}!</h1>
    <!-- This is the logout route -->
    <a href='/logout'>Logout</a>
  </div>
{{else}}
  <div>
    <h1>Login</h1>
    <form action='/login' method='post'>
      <input type='text' name='username' placeholder='Username' />
      <input type='password' name='password' placeholder='Password' />
      <button type='submit'>Login</button>
    </form>
  </div>
{{/if}}