<!-- This is the login page. It contains a form that allows users to log in, and displays a welcome message if the user is already logged in. -->
{{#if loggedIn}}
  <div>
    <h1>Welcome, {{Users.username}}!</h1>
    <!-- This is the logout route. -->
    <a href='/logout'>Logout</a>
  </div>
{{else}}
  <div>
    <h1>Sign In</h1>
    <form action='/login' method='post' id='login-form'>
      <input id='email-login' type='text' name='email' placeholder='Email' />
      <input
        id='password-login'
        type='password'
        name='password'
        placeholder='Password'
      />
      <input type="submit" value="Login">
    </form>
  <a href='/signup'>Sign Up</a>
  </div>
{{/if}}

<script src='/js/login.js'></script>