<!-- This is the form for creating a new post. It has fields for the title and post content. -->
<section>
  <h1>New Post</h1>
  <form id='new-post-form'>
    <label for='title'>Title</label>
    <input type='text' name='title' id='post-title' />
    <label for='post_content'>Post Content</label>
    <textarea id='post-content' name='post_content'>{{post_content}}</textarea>
    <button type='submit'>Create Post</button>
  </form>
  <a href='/'>Cancel</a>
</section>

<script src='/js/newPost.js'></script>